cache:
  directories:
    - "$HOME/.pub-cache"
jobs:
  include:
    - stage: generateGoFiles
      os: osx
      language: go
      go:
        - "1.15.x"
      env:
        - GO111MODULE=on
      before_script:
        - brew update
        - go get google.golang.org/grpc@v1.28.1
        - brew upgrade protobuf
        - go get -u google.golang.org/protobuf/cmd/protoc-gen-go
        - go install google.golang.org/protobuf/cmd/protoc-gen-go
        - go get -u google.golang.org/grpc/cmd/protoc-gen-go-grpc
        - go install google.golang.org/grpc/cmd/protoc-gen-go-grpc
        - export PATH="$PATH:$(go env GOPATH)/bin"
      script:
        - //go:generate protoc --go_out=./pb-go --go_opt=paths=source_relative  --go-grpc_out=./pb-go --go-grpc_opt=paths=source_relative service.proto
    - stage: generateDartFiles
      os: osx
      language: dart
      before_script:
        - brew update
        - brew upgrade protobuf
        - pub global activate protoc_plugin
        - export PATH=$PATH:$HOME/.pub-cache/bin
      script:
        - protoc --dart_out=grpc:./lib/pb service.proto
